body {
    background-image: url("../res/backgrounds/background1.png");
}
.centro {
    text-align: center;
}
.juego,
#mano,
#amigos,
#msg {
    display: none;
}
.fizq {
    float: left;
}
.fder {
    float: right;
}
#cartas div {
    display: inline-block;
}
.thumbnail {
    background-color: rgba(255,255,255,0.5);
}