body {
    background-image: url("../res/backgrounds/background1.png");
}
body,
.centro {
    text-align: center;
}
#actualizar_amigos,
#mazos,
#opciones,
#amigos,
#cartas,
#msg {
    display: none;
}
#cont_jugador1,
#cont_jugador2 {
    text-align: center;
}

#mazo1,
#carta_jugador1 {
    float: left;
}
#mazo2,
#carta_jugador2 {
    float: right;
}
#cartas div {
    display: inline-block;
}
.thumbnail {
    background-color: rgba(255,255,255,0.5);
}