body {
    background-image: url("../img/background_verde.png");
}
#btn_actualizar_amigos,
#mazos,
#opciones,
#lista_amigos,
#cartas {
    display: none;
}
#cont_jugador1,
#cont_jugador2 {
    text-align: center;
}

#mazo1,
#carta1 {
    float: left;
}
#mazo2,
#carta2 {
    float: right;
}
.thumbnail {
    background-color: rgba(255,255,255,0.5);
}